#header-box
  %h2
    %a.logo-header.png{ :href => '#content' }
      Text message paging system
  .main-cta
    .cta-header
      %h3
        Save money on pagers - text your guests.
    .cta-subHeader
      %h4
        Notify your guests when you're ready for them with a simple, low-cost text message paging solution.
      %br
      %a.jqModal.cta-image.png{ :href => '#demo-modal' }
        Come take a tour!
    .cta-plans
      %h5
        =link_to_front "See Plans and Pricing - 15-day, unlimited use trial", 'pricing'
.clearfix