<div id="header-box">
  <h2>
    <a href="#what-is-recess" title="Read about Recess" class="logo-header">
      Text message paging system
    </a>
  </h2>
  <h3 class="main-cta">
    <a class="jqModal cta-image png" href="#demo-modal">Take a tour</a>
  </h3>
  <h3 class="overlay-text">
    <a class="jqModal cover-image png" href="#demo-modal">text message paging system</a>
  </h3>
<div class="clearfix"></div>
</div>