#offers.home
  #deal.png
    %h3= link_to_front "A phone call<br />worth $257", 'pricing', :class => "blue"
  #promo
    %h4
      We want your feedback on a new version of Recess.
    %p
      We'll give you 3 months free and $20 Amazon gift card for your time.
      = link_to "Click here.", '#offer-modal', :class => "guillemot offerModal"