                        <div id="quote" class="quote-box">
                            <div class="quotes">
                              <blockquote title="Women text-message use">
                                <p><span><strong>51</strong>&#37;</span> of women aged 35-44 &amp; <span><strong>42</strong>&#37;</span> of women aged 45-54 use text messaging</p>
                              </blockquote>
                               <cite>Mobile Marketing Association, 2007 Mobile Attitude &amp; Usage Study</cite>
                            </div>
                            <div class="quotes">
                              <blockquote title="Middle age text-message use">
                                <p>35-44 year-olds send an average of <span><strong>236</strong></span> texts per month <em>vs.</em> <span><strong>223</strong></span> calls</p>
                              </blockquote>
                               <cite>Nielsen Mobile 2008</cite>
                            </div>
                            <div class="quotes">
                              <blockquote title="Mobile responses">
                                <p><span><strong>26</strong>&#37;</span> of those who saw a mobile ad responded at least once by sending a text</p>
                              </blockquote>
                               <cite>Nielsen Mobile, March 2008</cite>
                            </div>
                            <div class="quotes">
                              <blockquote title="Cell-only households">
                                <p><span><strong>1 in 5</strong></span> US households are cell-only</p>
                              </blockquote>
                               <cite><a href="http://www.cdc.gov/nchs/data/nhis/earlyrelease/wireless200905.htm" title="CDC survey">CDC survey, 2009</a></cite>
                            </div>
                            <div class="quotes">
                              <blockquote title="Text message usage, growth">
                                <p>US texters sent <span><strong>1 trillion</strong></span> texts in 2008, up from <span><strong>363 billion</strong></span> in 2007</p>
                              </blockquote>
                               <cite><a href="http://tech.yahoo.com/blogs/patterson/44336/ctia-us-chatters-sent-1-trillion-sms-messages-in-2008/" title="Yahoo">Yahoo, 2009</a></cite>
                            </div>
                            <div class="quotes">
                              <blockquote title="Restaurant, response rates">
                                <p>Restaurants can expect a <span><strong>15.5&#37;</strong></span> response rate to SMS advertising</p>
                              </blockquote>
                               <cite><a href="http://www.comscore.com/press/release.asp?press=2557" title="Comscore">Comscore, 2009</a></cite>
                            </div>
                            <div class="quotes">
                              <blockquote title="US mobile penetration">
                                <p><span><strong>86</strong>&#37;</span> of the US population (13+) own a mobile device, with mobile penetration surpassing 100&#37; in 2013</p>
                              </blockquote>
                               <cite>m:metrics, 2007 &amp; <a href="http://www.marketingcharts.com/interactive/mobile-phone-penetration-84-wireless-revenue-155b-by-years-end-1371/" title="SNL Kagan">SNL Kagan, 2007</a></cite>
                            </div>
                            <div class="quotes">
                              <blockquote title="Interest in mobile advertising">
                                <p><span><strong>30</strong>&#37;</span> of all consumers are interested in receiving permission based mobile coupon services</p>
                              </blockquote>
                               <cite>Juniper Research in MMA industry review, 2008</cite>
                            </div>
                        </div>