  <div id="subpage-sidebar">
    <div id="cta-box" class="collapsed-form">
      <h3><%= sidebar_header %></h3>
      <p><%= sidebar_subheader %></p>
      <h4 class="demo-button">
        <%= link_to_front "Try it for free", 'pricing', :class => 'try-it button' %>
      </h4>
    </div>
     <%= render :partial =>  "quotes" %>
  </div> <!-- #subpage-sidebar -->
</div> <!-- #subpage-top-content -->