:textile

  h2(#tos-mobile). RECESS TERMS OF SERVICE FOR MOBILE SUBSCRIBERS

  *Program Description*

  Recess Mobile is a mobile marketing and communications system. By subscribing to alerts, you consent to receive a text message alert when the establishment you subscribe to is ready to receive you.

  *Mobile OPT-IN*

  You may &lsaquo;Opt-in&rsaquo; to this service by texting the <strong>KEYWORD</strong> to the <strong>SHORT CODE</strong> (<strong>465637</strong>). Or, you may be directed to a Website to &lsaquo;Opt-in&rsaquo; online. If you &lsaquo;Opt-in&rsaquo; online, you will be required to confirm your intent by replying affirmatively to the welcome message that you receive on your handset.

  By opting into the <strong>KEYWORD</strong> on <strong>SHORT CODE</strong> <strong>465637</strong> you agree to receive text message alerts from Recess Mobile for that <strong>KEYWORD</strong> only (no daily maximum).

  *Mobile PRIVACY*

  We will not share or use your mobile number for any other purpose.

  *Mobile FEES*

  Our service does not charge consumers to &lsaquo;receive&rsaquo; or &lsaquo;reply to&rsaquo; text messages. However, <strong>Message and Data Rates May Apply</strong>.

  *Mobile OPT-OUT*

  To Opt-Out (discontinue service), send <strong>STOP</strong> to <strong>465637</strong> from your mobile device. You will not receive any additional messages until you &lsaquo;Opt-in&rsaquo; again. You may also Opt-out by texting <strong>QUIT</strong>, <strong>END</strong>, <strong>CANCEL</strong>, <strong>UNSUBSCRIBE</strong>, or <strong>STOP ALL</strong> to any text message you receive or to short code 465637.

  *Mobile HELP*

  To get help:

  * Text:  <strong>HELP</strong> to <strong>465637</strong>
  * Email: <a href="mailto:support@recessmobile.com">support@recessmobile.com</a>

  *CARRIERS SUPPORTED*

  Alltel, AT&T, Cellular One, Sprint, Nextel, Boost, T-Mobile, U.S. Cellular, Verizon Wireless



  h2(#tos-website). RECESS TERMS OF SERVICE FOR WEBSITE USERS

  By using the Recess web sites or applications (&ldquo;Service&rdquo;), services of Recess Mobile, Inc. (&ldquo;Recess Mobile&rdquo;), you are agreeing to be bound by the following terms and conditions (&ldquo;Terms of Service&rdquo;).

  Recess Mobile reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: "http://www.recessmobile.com/terms":http://www.recessmobile.com/terms

  Violation of any of the terms below will result in the termination of your Account. You agree to use the Service at your own risk.

  *The Service*

  The Service consists of one or more of the following: a web-based interface, messaging applications, data encryption, data transmission, data access, and data storage. We provide MT outbound messages through different routes, and the level of reliability and support for special features varies according to the route. You are responsible for obtaining and maintaining all computer hardware, software and communications equipment needed to access the Service, and for paying all access charges (e.g. ISP, mobile carrier) incurred while using the Service.

  Recess Mobile only provides that the text messages, email and voice broadcasts you send through the Service are processed correctly and delivered to the applicable network. Recess Mobile is not responsible for the final delivery of the message or broadcast, as this is out of our control and is the responsibility of the cellular telephone operator or other network.

  Recess Mobile sends and receives text messages via major telecommunications companies and mobile network operators, and thus Recess Mobile's influence over the timing of the transmission of your messages and broadcasts is within the technical constraints imposed upon Recess Mobile. While Recess Mobile shall use commercially reasonable efforts to deliver your messages and broadcasts to the applicable network for final delivery to your designated recipients as fast as possible, we cannot commit to, and do not guarantee, a specific maximum delivery time. Such times depend on various network and system-related factors among the various entities involved in the transportation of your messages and broadcasts across the GSM network. You should know that mobile network operators assign text messages and voice broadcasts with a default lifetime and any message or broadcast that cannot be delivered successfully within the lifetime assigned to it will be discarded by the mobile network operator without any notice. Recess Mobile is not liable for any loss incurred by the failure of a message or broadcast to be delivered, and you acknowledge that damages for financial or other loss resulting from delivery failure cannot be claimed from Recess Mobile for any such non-deliveries. Furthermore, you agree that message and broadcast contents are deemed to have zero value.

  *Usage Policy*

  You represent and warrant that the owners of the phone numbers you provide to Recess Mobile, to which outbound messages and broadcasts are sent through the Service, have consented or otherwise opted-in to the receipt of such messages and broadcasts. You will immediately notify Recess Mobile in writing in the event that any such phone number has opted-out of receiving messages or broadcasts through the Service. You acknowledge and agree that you will send messages and broadcasts only to individuals who have given you their express permission to be contacted.

  You agree to abide by all applicable local, state, national and international laws and regulations and are solely responsible for all acts or omissions that occur under your account, including without limitation the content of the messages and broadcasts transmitted through Recess Mobile. Without limiting the foregoing, you agree to familiarize yourself with the legalities of any messages, broadcasts and campaigns transmitted through Recess Mobile by visiting the following websites:

  * Federal Trade Commission, "http://www.ftc.gov":http://www.ftc.gov
  * Federal Communications Commission, "http://www.fcc.gov":http://www.fcc.gov
  * DoNotCall Registry Info, "http://www.donotcall.gov":http://www.donotcall.gov

  As part of the registration process you will select a unique username and password. You shall provide Recess Mobile with accurate, complete, and regularly updated member profile information. You agree to notify Recess Mobile of any known or suspected unauthorized use(s) of your user account, or any known or suspected breach of security, including loss, theft, or unauthorized disclosure of your username or password. You shall be responsible for maintaining the confidentiality of your password. Any fraudulent, abusive, or otherwise illegal activity may be grounds for termination of your user account, at Recess Mobile's sole discretion, and you may be reported to appropriate law-enforcement agencies.

  You accept that the Service is provided for professional use only, and you agree that your use of the Website or Service shall not include:

  * Sending unsolicited marketing messages or broadcasts (i.e. spam);
  * Harvesting, or otherwise collecting information about others, without their consent;
  * Misleading others as to the identity of the sender of your messages or broadcasts, by creating a false identity, impersonating the identity of someone/something else or by providing contact details that do not belong to you;
  * Transmitting, associating or publishing any unlawful, racist, harassing, libelous, abusive, threatening, demeaning, libelous, immoral, harmful, vulgar, obscene or otherwise objectionable material of any kind;
  * Transmitting any material that may infringe upon the intellectual property rights of third parties including trademarks, copyrights or other rights of publicity;
  * Transmitting any material that contains viruses, Trojan horses, worm, time bombs, cancel-bots or any other harmful/deleterious programs;
  * Interfering with, or disrupting, networks connected to the Service or violating the regulations, policies or procedures of such networks;
  * Attempting to gain unauthorized access to the Service, other accounts, computer systems or networks connected to the Service, through password mining or any other means;
  * Interfering with another's use and enjoyment of the Service or Website; or
  * Engaging in any other activity that Recess Mobile believes could subject it to criminal liability or civil penalty/judgment.

  You agree that Recess Mobile is, under no circumstances, responsible for the contents and/or accuracy of your messages or broadcasts and Recess Mobile will only transmit them on a basis of good faith that you use the Service in accordance with these Terms. Recess Mobile will not be liable for any misuse of the Service by you. Recess Mobile is not responsible for the views and opinions contained in any of your messages or broadcasts.

  We may have copyrights, trademarks, patents, trade secrets, or other intellectual property rights covering subject matter in the Service, including the web pages that are part of the Service and the Website. Except as expressly provided in these Terms, the availability of the Service and such web pages to you does not give you any license to these patents, trademarks, copyrights, or other intellectual property. All copyrights, trademarks, patents, trade secrets and other intellectual proprietary rights contained in the Website are the sole property of Recess Mobile or its licensors, each of whom reserves all rights with regard to such materials. You acknowledge and agree that you may not modify, alter, create any derivative works, reverse engineer, decompile or disassemble any portion of the Service or Website, including any proprietary communications protocol used by the Service or Website.

  *Data Protection &amp; Privacy*

  In order to ensure your compliance with these Terms and to ensure that Recess Mobile complies with national and international laws, we may, from time to time, randomly check the messages and broadcasts that you send. Nonetheless, we are committed to maintaining the privacy of your information, pursuant to our <a href="http://www.recessmobile.com/privacy" title="Privacy Policy">Privacy Policy</a> provided on the Website. Except as otherwise required for your use of the Service as contemplated herein, Recess Mobile does not want you to, and you should not, send any confidential or proprietary information to Recess Mobile via the Website or the email addresses referenced on the Website. You agree that any information or materials that you or individuals acting on your behalf provide to Recess Mobile (other than information required for your use of the Service as contemplated herein) will not be considered confidential or proprietary. By providing any such information or materials to Recess Mobile (other than information required for your use of the Service as contemplated herein), you grant to Recess Mobile an unrestricted, irrevocable, worldwide, royalty-free, perpetual license to use, reproduce, display, publicly perform, transmit, make derivative works and distribute such information and materials, and you further agree that Recess Mobile is free to use any ideas, concepts or know-how that you or individuals acting on your behalf provide to Recess Mobile. You further recognize that Recess Mobile does not want you to, and you warrant that you shall not, provide any information or materials to Recess Mobile that is defamatory, threatening, obscene, harassing, or otherwise unlawful, or that incorporates the proprietary material of another.

  *Credits*

  Credits are paperless vouchers that you purchase and which facilitate the sending of SMS. The chosen route as well as the destination of a message or broadcast causes the amount of credits required to either increase or decrease but, in either case, will always be made known beforehand through the <aa href="http://privatelabelsms.com/#productPricing" title="External link to PrivateLabelSMS">Message Pricing</a> page of our Website. The submission of a seemingly-valid message or broadcast will cause an associated quantity of credits to be debited from your account and you can obtain the real-time status of your account at any time through the online interface.

  *Credit Expiration*

  Credits purchased as a part of a package or monthly plan, and not used within the month of purchase, expire at the end of the month. Additionally, the value of credits may change over time (as noted below in the Price Adjustments section), and thus you acknowledge that the number of credits needed to send a text-message may change correspondingly.

  *Payment, Refunds, Upgrading and Downgrading Terms*

  A valid credit card is required. You will be billed monthly starting the day you create your account.
  The Service is billed in advance on a monthly basis and is non-refundable. There will be no refunds or credits for partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account. In order to treat everyone equally, no exceptions will be made.

  All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties, excluding only United States (Federal or State) taxes.

  For any upgrade or downgrade in plan level, your credit card that you provided will automatically be charged the new rate on your next billing cycle.

  Downgrading your Service may cause the loss of Content, features, or capacity of your Account. Recess Mobile does not accept any liability for such loss.

  *Price Adjustment*

  As we are dependent on other entities for the delivery of our messages and broadcasts, our price per credit may require adjustment in order to account for costs that are not in our control. Accordingly, we may adjust our prices from time to time without prior notice.

  *No Warranty; Limitation of Liability*

  You acknowledge that text messages are transmitted unencrypted and that eavesdropping of cell phone communications, including SMS delivery, by third parties is possible. Recess Mobile recommends that you ensure sensitive and valuable information is communicated by a protected and/or encrypted method.

  Recess Mobile shall use commercially reasonable efforts to make access to the Service available through the required access protocols, but makes no warranty or guarantee that (i) the Service will be available at any particular time; or (ii) you will be able to access the Service at any particular time or from any particular location. Recess Mobile will not be liable for any act or omission of any other company or companies furnishing a portion of the Service (including, without limitation wireless carriers), or from any act or omission of a third party, including those vendors participating in Recess Mobile offerings made to you, or for equipment that it does not furnish, or for damages that result from the operation of customer-provided systems, equipment, facilities or services that are interconnected with the Service. NOTWITHSTANDING ANYTHING CONTAINED HEREIN TO THE CONTRARY, THE WEBSITE AND SERVICE ARE PROVIDED "AS IS" AND "AS AVAILABLE," WITHOUT ANY WARRANTIES OR CONDITIONS WHATSOEVER, EXPRESSED OR IMPLIED. NOTWITHSTANDING THE FOREGOING OR ANY STATEMENT TO THE CONTRARY CONTAINED IN THESE TERMS, RECESS MOBILE DOES NOT WARRANT THAT THE USE OF THE WEBSITE OR SERVICE WILL BE UNINTERRUPTED OR ERROR FREE; NOR DOES IT MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE SERVICE OR THAT THE WEBSITE OR SERVICE WILL MEET ANY OF YOUR SPECIFIC REQUIREMENTS, OTHER THAN AS MAY BE EXPRESSLY SET FORTH IN THESE TERMS. RECESS MOBILE MAKES NO REPRESENTATIONS OR WARRANTIES AND HEREBY DISCLAIMS ALL OTHER REPRESENTATIONS AND WARRANTIES OF ANY KIND, WHETHER EXPRESS, STATUTORY OR IMPLIED, ORAL OR WRITTEN, WITH RESPECT TO THE SERVICE, INCLUDING WITHOUT LIMITATION ALL IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS OF THE MATERIAL, SERVICE, SOFTWARE, TEXT, GRAPHICS OR LINKS, AND ALL WARRANTIES IMPLIED FROM ANY COURSE OF DEALING, COURSE OF PERFORMANCE OR USAGE OF TRADE.
  RECESS MOBILE SHALL NOT BE LIABLE TO YOU OR TO ANY THIRD PARTY FOR ANY INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, ANY DAMAGES ARISING FROM LOSS OF USE OR LOST BUSINESS, LOSS OF OPPORTUNITY, LOSS OF REVENUE, LOSS OF ACTUAL OR ANTICIPATED PROFITS, LOSS OF DAMAGE TO OR CORRUPTION OF DATA OR LOSS OF GOODWILL), OR FOR ANY COST OF PROCUREMENT OF SUBSTITUTE SERVICES ARISING IN CONNECTION WITH THESE TERMS, WHETHER IN AN ACTION IN CONTRACT, TORT, STRICT LIABILITY OR NEGLIGENCE, OR OTHER ACTIONS, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IF YOUR USE OF THE WEBSITE OR THE SERVICE RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT, SOFTWARE OR DATA, RECESS MOBILE IS NOT RESPONSIBLE FOR THOSE COSTS. RECESS MOBILE'S TOTAL LIABILITY ARISING OUT OF YOUR USE OF THE WEBSITE OR SERVICE FOR DIRECT DAMAGES SHALL NOT, IN THE AGGREGATE, EXCEED AN AMOUNT EQUAL TO THE MONTHLY TRANSACTION FEE PAID BY YOU IN THE MONTHLY PERIOD GIVING RISE TO THE FIRST CLAIM MADE.

  *User Warranties; Indemnification*

  You warrant and represent to Recess Mobile that you are and shall at all times remain in full compliance with all applicable laws, rules and regulations with regard to your use of the Website and Service, including without limitation the Telephone Consumer Protection Act, the Telemarketing Sales Rule, the CAN-SPAM Act (Controlling the Assault of Non-Solicited Pornography and Marketing Act) of 2003, and all other laws and regulations concerning privacy, telemarketing and Internet marketing.

  You agree to indemnify, hold harmless, and defend Recess Mobile and its affiliates and each of their respective officers, directors, shareholders, employees, agents, representatives, content providers and service providers, against any and all claims, liabilities, damages, costs and expenses (including, but not limited to, consequential damages, incidental damages, special damages, attorneys' fees and disbursements) arising from or relating to any actual or threatened claim, suit, action or proceeding based upon or arising out of: (i) your breach of the above warranties; or (ii) any use by you, or an account or computer owned by you, of the Website or Service. You agree to cooperate as fully as reasonably required in the defense of any claim and we reserve the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you. You acknowledge and agree to be held liable for any and all damages caused to Recess Mobile by you as a direct result of a violation of local, state, national or international laws and regulations.

  *Modification of Terms*

  We frequently update, modify and otherwise continually seek to improve the Service and such changes often require an update or revision to these Terms. Accordingly, we reserve the right to change or discontinue any aspect or feature of the Service, as well as modify, change and/or update these Terms, from time to time, as we deem appropriate. Any updates to these Terms shall be posted on this Website, from time to time. You acknowledge your responsibility to review these Terms from time to time and to be aware of any such changes and, should you request, we will be happy to keep you informed if/when such changes take place. If you do not agree with any such changes, your use of the Service may be canceled in accordance with the procedures for cancellation set forth herein.

  *Termination, Cancellation and/or Suspension by Recess Mobile*

  If at any time you breach these Terms, we may elect to suspend, terminate and/or cancel your use of the Service and/or recover any damages from you arising from the event(s) giving rise to the suspension, termination or cancellation. We reserve the right to suspend your Service at any stage for any reason we may deem necessary to continue to provide our Service in a way that may be hindered by your status as being our client, your financial status or the content of the messages or broadcasts originating from you.

  Upon any such termination, cancellation and/or suspension, you are still responsible for any obligations then accrued. Your obligation to pay all amounts accrued and owed by you shall continue even after any suspension or cancellation of your access to the Service (in whole or in part). Upon termination, for any reason, you agree to immediately cease using the Service and Recess Mobile shall have no obligation to you after any termination or cancellation of these Terms.

  Should such a termination take place when you still have credits in your account, you shall receive back, at our discretion, a fair monetary value of such credits, save any expenses that may be incurred by Recess Mobile, including, without limitation, for payment of transfer duties, legal costs, third-party costs, or penalties.

  The provisions regarding ownership, payments, warranties and indemnifications will survive any suspension, termination or cancellation of your use of the Services or Website.

  *Termination by the User for No-Contract, Monthly Subscription Applications*

  You are solely responsible for properly canceling your account. An email or phone request to cancel your account is not considered cancellation. You can cancel your account at any time by clicking on the Account link in the global navigation bar at the top of the screen. The Account screen provides a simple no questions asked cancellation link. All of your Content will be immediately deleted from the Service upon cancellation. This information can not be recovered once your account is canceled. If you cancel the Service before the end of your current paid up month, your cancellation will take effect immediately and you will not be charged again.

  *Links to Other Websites*

  The Website may contain links to third party websites. These links are provided solely as a convenience to you and not as an endorsement by Recess Mobile of the contents on such third-party websites. Recess Mobile is not responsible for the content of linked third-party websites and does not make any representations regarding the content or accuracy of materials on such third-party websites. If you decide to access linked third-party websites, you do so at your own risk.

  Recess Mobile cannot ensure that you will be satisfied with any products or services that you purchase from a third-party website that links to or from the Website, since these websites are owned and operated by independent third-parties. Recess Mobile does not endorse any of the products/services, nor has Recess Mobile taken any steps to confirm the accuracy or reliability of any of the information contained in such third-party websites. Recess Mobile does not make any representations or warranties as to the security of any information (including, without limitation, credit card and other personal information) you might be requested to give any third party, and you hereby irrevocably waive any claim against us with respect to such websites. Recess Mobile strongly encourages you to make whatever investigation you feel necessary or appropriate before proceeding with any online or off-line transaction with any of these third-parties.

  *Security Rules*

  You are prohibited from violating or attempting to violate the security of the Website and Service and from using the Website and Service to violate the security of other websites by any method, including, without limitation: (a) accessing data not intended for you or logging into a server or account which you are not authorized to access; (b) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization; (c) attempting to interfere with service to any user of the Website or Service, host or network, including, without limitation, via means of submitting a virus to the Website, overloading, "flooding", "spamming", "mailbombing" or "crashing"; (d) sending unsolicited e-mail, including promotions and/or advertising of products or services; or (e) forging any Recess Mobile packet header or any part of the header information in any e-mail, instant message, text message or newsgroup posting. Violations of system or network security may result in civil or criminal liability. Recess Mobile may investigate violations of these Terms and Conditions, and may involve and cooperate with law enforcement authorities in prosecuting users of the Website who are involved in such violations.

  *Force Majeure*

  Recess Mobile shall not be liable for any failure or delay in performing its obligations hereunder, which such failure or delay is caused by fire, flood, earthquake, elements of nature or acts of God, acts of war, insurrection, terrorism, strike, failure or downtime of any telecommunications line and/or unavailability of any telecommunications facilities, power failure, governmental restrictions, any court order, compliance with any law, regulation, or order of any governmental authority, or any other cause beyond the reasonable control of Recess Mobile. In addition, Recess Mobile shall be so excused in the event it is unable to acquire from its usual sources, and on terms it deems to be reasonable, any material necessary for the performance of the Service.

  *Miscellaneous*

  The failure of either party to exercise in any respect any right provided for herein will not be deemed a waiver of any further rights hereunder. If any provision of these Terms is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that these Terms will otherwise remain in full force and effect and enforceable.

  No agency, partnership, joint venture, or employment is created as a result of these Terms and you do not have any authority of any kind to bind Recess Mobile in any respect whatsoever. In any action or proceeding to enforce rights under these Terms, the prevailing party will be entitled to recover costs and attorneys' fees.

  All notices required hereunder shall be in writing and will be deemed to have been duly given when received, if personally delivered; when receipt is electronically confirmed, if transmitted by facsimile or e-mail; the day after it is sent, if sent for next day delivery by recognized overnight delivery service; and upon receipt, if sent by certified or registered mail, return receipt requested. Recess Mobile may give notice to you by means of a general notice on the Website or Service, electronic mail to your e-mail address on record in Recess Mobile's account information, or by written communication sent by personal delivery, fax, overnight courier, or certified or registered mail to your address on record in Recess Mobile's account information.

  You hereby grant Recess Mobile the right to use your name and/or logo within a publicly viewable list of clients or in press releases applicable to Recess Mobile, the Website or the Service.

  These Terms shall be governed by and construed in accordance with the laws of the State of Ohio notwithstanding its laws governing conflicts of laws. The parties agree that any action or proceeding brought to defend the rights or enforce the obligations of a party hereto shall be brought in the courts of the State of Ohio.

  The terms and conditions of Service are only those stated herein, which shall constitute the complete agreement between the parties. No terms and conditions stated in or attached to your communications to Recess Mobile are applicable to these Terms in any way and are not to be considered your exceptions to the provisions of these Terms.

  *Copyright and Trademark Notices*

  All content, design and layout of the Website: Copyright &copy; 2009 Recess Mobile, Inc. All rights reserved.

  All trademarks or tradenames are the property of their respective owners.


  Questions about the Terms of Service should be sent to <a href="mailto:support@recessmobile.com">support@recessmobile.com</a>.