#slideshow-gallery
  %img{ :src => '/images/slides/medium/01.jpg', :alt => 'The Recess application', :caption => '<span class="first-line">Recess is a text message paging application with an emphasis</span>on marketing and promotion. Recess lets you to notify your guests when it&#39;s time to come in.' }
  %img{ :src => '/images/slides/medium/02.jpg', :alt => 'The Host screen', :caption => '<span class="first-line">The application launches to the &ldquo;Host&rdquo; screen, which allows</span>you to view and edit your account information. On the bottom, you can see the main navigation bar, which allows you to navigate through the application. Let&#39;s walk through a use case, a busy restaurant.' }
  %img{ :src => '/images/slides/medium/03.jpg', :alt => 'The Guest screen and Confirmation message', :caption => '<span class="first-line">When a guest walks up, enter their cell phone number on the</span>&ldquo;Guest&rdquo; screen. Recess sends out a confirmation text notifying them that they&#39;ve been added to the waitlist and suggesting they try a martini at the bar. You can change this offer to whatever you&#39;d like.' }
  %img{ :src => '/images/slides/medium/04.jpg', :alt => 'Guest wait time, note and a request for more information', :caption => '<span class="first-line">After you&#39;ve entered a phone number into the system, you can</span>add an estimated wait time and note for that guest to help better manage your waitlist. In the meantime, the guest sends a text message reply with &ldquo;M&rdquo; for more information about your special offer.' }
  %img{ :src => '/images/slides/medium/05.jpg', :alt => 'More information received!', :caption => '<span class="first-line">The guest receives a reply from the system with more</span>information regarding your offer, which can be whatever you&#39;d like.' }
  %img{ :src => '/images/slides/medium/06.jpg', :alt => 'It&#39;s time for Recess', :caption => '' }
  %img{ :src => '/images/slides/medium/07.jpg', :alt => '35 minutes later...', :caption => '<span class="first-line">Time for Recess.</span>' }
  %img{ :src => '/images/slides/medium/08.jpg', :alt => 'Waitlist and Guest details screens', :caption => '<span class="first-line">A table has opened up and the host is ready to page the guest.</span>By navigating to the &ldquo;List&rdquo; screen, you can simply select the guest who you&#39;d like to page. This brings up the guest&#39;s details. Press &ldquo;Send Page&rdquo; to send them a page.' }
  %img{ :src => '/images/slides/medium/09.jpg', :alt => 'Sending and receiving a page', :caption => '<span class="first-line">The system sends out a text message to the guest notifying</span>them that you&#39;re ready to seat them. The message also asks the guest if they&#39;d like to subscribe to special offers from your restaurant.' }
  %img{ :src => '/images/slides/medium/10.jpg', :alt => 'Guest subscribing to offers', :caption => '<span class="first-line">The guest can subscribe to your restaurant&#39;s mobile offers.</span>' }
  %img{ :src => '/images/slides/medium/11.jpg', :alt => 'Subscription management screen and guest receiving a subscription confirmation', :caption => '<span class="first-line">That guest has now been added to your marketing list.</span>You can send them messages at any time using your own account management website.' }
  %img{ :src => '/images/slides/medium/12.jpg', :alt => 'Guest arriving', :caption => '<span class="first-line">When the guest arrives and has been seated, you can select</span>them from the &ldquo;List&rdquo; screen and press the &ldquo;Arrived&rdquo; button. The system will move that guest into the &ldquo;Arrived&rdquo; section to keep your waitlist neat and organized. We address no-shows the same way.' }
  %img{ :src => '/images/slides/medium/13.jpg', :alt => 'Offers', :caption => '<span class="first-line">Your relationship with this guest has only just begun.</span>You can now directly communicate with them by SMS. Send special offers, request feedback, or send a thank you note, all delivered instantly to your guest&#39;s pocket.' }
  %img{ :src => '/images/slides/medium/14.jpg', :alt => 'Offers and Messages management screens', :caption => '<span class="first-line">Your administrative website allows you to customize all of the</span>messages that go out to your guests, including offers and notifications.' }
  %img{ :src => '/images/slides/medium/15.jpg', :alt => 'Locations and Statistics screens', :caption => '<span class="first-line">If you have multiple locations, there&#39;s no need to create an</span>account for each of them. You can add as many locations as you&#39;d like under one administrator, generate multiple users per location and view  statistics for each of them.' }
  .last-slide{ :src => '/images/slides/medium/16.jpg', :caption => '<a href="/pricing-and-signup" class="title-link" title="Try Recess free for 15 days">Try Recess free for 15 days</a><br />Recess is available on the App Store and sends text messages to any phone. To install it in your business, <a href="http://www.itunes.com/app/RecessPagingSystem" title="Download Recess on the App Store" class="title-link">download the application</a> to an iPhone or iPod Touch and sign up for a Recess account.' }
    .left-col
      %img{ :src => '/images/icon.png', :title => 'Recess', :alt => 'Recess', :class => 'jqmClose' }
      %h3
        %a{ :href => 'http://www.twitter.com/recessapp', :title => 'Follow Recess on Twitter' } Follow Recess on Twitter, @recessapp
      .recess-pitch
        %h4<>
          %a{ :href => '/signup', :title => 'Try Recess free for 15 days', :class => 'title-link' }<>
            Try Recess free for 15 days
          %br<>
          Recess is available on the App Store and sends text messages to any phone. To install it in your business,&nbsp;
          %a{ :href => 'http://www.itunes.com/app/RecessPagingSystem', :title => 'Download Recess on the App Store' }<
            download the application
          to an iPhone or iPod Touch and sign up for a Recess account.
        %h4.app-store
          %a.png{ :href => 'http://www.itunes.com/app/RecessPagingSystem', :title => 'Recess Paging System available in the App Store!' } Available in the App Store
    .right-col
      :erb
        <div class="youtube"><object width="320" height="265"><param name="movie" value="http://www.youtube.com/v/hEeXioOlnew&hl=en&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/hEeXioOlnew&hl=en&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="265"></embed></object></div>
        <h4 class="demo-button"><a class="try-it button" href="http://www.recessapp.com/signup" title="Try it for free">Try it for free</a></h4><p class="or"><a class="guillemot" href="http://www.recessapp.com/signup" title="15-day, unlimited use trial">15-day, unlimited use trial</a></p>