%h2 Or reach us at...
%p You can call or text us:
%h4.cufonify (810) 3RECESS &nbsp;-&nbsp; (810) 373-2377
%p Write or visit us:
%h5
  %a{ :href => "http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=595+S.+3rd+St.,+Columbus,+OH+43215&amp;sll=39.962532,-82.998&amp;sspn=0.009588,0.019312&amp;ie=UTF8&amp;ll=39.950823,-82.995658&amp;spn=0.00959,0.019312&amp;z=16&amp;iwloc=A", :title => "Google Maps" }<
    Recess Mobile, Inc.
    %br
    595 1/2 S 3rd Street
    %br
    Columbus, OH 43215
    %br
    %img{ :src => "/images/recess-office-map.png", :alt => "Map to our office, 595 1/2 S 3rd Street, Columbus, OH 43215" }