%iframe{ :src => "http://holmesmobile.wufoo.com/embed/q7x4a9/", :height => "450", :width => "100%", :frameborder => "0", :scrolling => "no", :allowtransparency => "true" }
  %a{ :href => "http://holmesmobile.wufoo.com/forms/q7x4a9/", :title => "Contact Us" } Contact Us