#signup-box
  %h2
    Pricing &amp; sign up
  %h3
    $79/month
  %p
    The Recess text-message paging system includes:
  %ul
    %li An unlimited number of pages and notifications
    %li The power to customize your messages and offers
    %li Access to your own personal dashboard with statistics
    %li The ability to create multiple locations and users
  %p
    Remember, you&rsquo;ll need an iPhone or iPod Touch to use the application. Your guests can use any mobile phone.
  %h4.demo-button
    %a{ :class => 'signup button', :href => 'http://www.recessapp.com/signup' } Signup
  %p.panel-tour
    or
    %a{ :class => 'jqModal guillemot', :href => '#demo-modal' } Take a tour
  %br
  %h4.app-store
    %a.png{ :href => 'http://www.itunes.com/app/RecessPagingSystem', :title => 'Recess Paging System available in the App Store!' }
      Available in the App Store
