<h1><%= @page_title = 'Plans' %></h1>
<p><%= link_to('Add a new plan', :action => 'new') %></p>
<table id="plans">
  <tr class="first-row">
    <th>Name</th>
    <th>Amount</th>
  </tr>
  <% @subscription_plans.each do |plan| %>
    <tr>
      <td><%= link_to(h(plan.name), [:admin, plan]) %></td>
      <td><%= number_to_currency(plan.amount) %></td>
    </tr>
  <% end %>
</table>
