= f.error_messages
%fieldset
  = f.text_field :name, :label => "<span class='tip' title='The name of the venue where you will be using Recess'>Venue Name</span>"
  = f.text_field :internal_id, :label => "<span class='tip' title='This is how you identify the venue&rsquo;s location internally; often a store number'>Internal ID</span>"
= submit_or_cancel
